@model TaskManager.Models.ViewModels.ProjectRaportViewModel

@{
    Layout = "~/PdfTemplate/Layout.cshtml";
}


    <h2>
        Data: @DateTime.Now
    </h2>
    <h1>
        Nazwa Projektu: @Model.Project.Name
    </h1>

<div style="width:600px; height:auto; margin:0px auto; float:left;">

    <h1>Taski niezakończone</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>NAZWA</th>
            <th>PRIORYTET</th>
            <th>STORY POINTY</th>
            <th>DATA ROZPOCZĘCIA</th>
        </tr>
        @foreach (var item in Model.ProjectTasks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Priority</td>
                <td>@item.StoryPoints</td>
                <td>@item.StartTime.ToString()</td>
                
            </tr>
        }


    </table>

</div>

<div style="width:600px; height:auto; margin:0px auto; float:left;">
    <h1>Taski zakończone</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAZWA</th>
            <th>PRIORYTET</th>
            <th>DATA ZAKOŃCZENIA</th>
        </tr>

        @*@foreach (var item in Model.ProjectEndedTasks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.StoryPoints</td>
                <td>@item.StartTime</td>
            </tr>


        }*@

    </table>



</div>
    




